/* BUTTON COMPRAR AHORA */

.unique-button-comprar {
    --width: 140px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #222;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
}

.unique-button-comprar::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 0.9rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.unique-button-comprar::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.unique-button-comprar::after,
.unique-button-comprar::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.unique-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.unique-button-wrapper,
.unique-text,
.unique-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.unique-text {
    top: 0
}

.unique-text,
.unique-icon {
    transition: top 0.5s;
}

.unique-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unique-icon svg {
    width: 24px;
    height: 24px;
}

.unique-button-comprar:hover {
    background: #222;
    cursor: pointer;
}

.unique-button-comprar:hover .unique-text {
    top: -100%;
}

.unique-button-comprar:hover .unique-icon {
    top: 0;
}

.unique-button-comprar:hover:before,
.unique-button-comprar:hover:after {
    opacity: 1;
    visibility: visible;
}

.unique-button-comprar:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.unique-button-comprar:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}








/* CARD DE CONFIRMACIÓN DE COMPRA */


.card-shop {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 230px;
    height: 300px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-shop:last-child {
    justify-content: flex-end;
}

.card-shop-img {
    /* clear and add new css */
    transition: all 0.5s;
    display: flex;
    justify-content: center;
}

.card-shop-img .img {
    /* delete */
    transform: scale(1);
    position: relative;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-top-left-radius: 80px 50px;
    border-top-right-radius: 80px 50px;
    border: 2px solid black;
    background-color: #228b22;
    background-image: linear-gradient(to top, transparent 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 13px, transparent 13px);
}

.card-shop-img .img::before {
    /* delete */
    content: '';
    position: absolute;
    width: 65px;
    height: 110px;
    margin-left: -32.5px;
    left: 50%;
    bottom: -4px;
    background-repeat: no-repeat;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 30%, transparent 30%), linear-gradient(to top, transparent 17px, rgba(0, 0, 0, 0.3) 17px, rgba(0, 0, 0, 0.3) 20px, transparent 20px), linear-gradient(to right, black 2px, transparent 2px), linear-gradient(to left, black 2px, transparent 2px), linear-gradient(to top, black 2px, #228b22 2px);
    background-size: 60% 10%, 100% 100%, 100% 65%, 100% 65%, 100% 50%;
    background-position: center 3px, center bottom, center bottom, center bottom, center bottom;
    border-radius: 0 0 4px 4px;
    z-index: 2;
}

.card-shop .img::after {
    /* delete */
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin-left: -14px;
    left: 50%;
    top: -13px;
    background-repeat: no-repeat;
    background-image: linear-gradient(80deg, #ffc0cb 45%, transparent 45%), linear-gradient(-175deg, #ffc0cb 45%, transparent 45%), linear-gradient(80deg, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0) 51%), linear-gradient(-175deg, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0) 51%), radial-gradient(circle at center, #ffa6b6 45%, rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 0.2) 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.2) 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(65deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.2) 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(22deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.2) 54%, rgba(0, 0, 0, 0) 54%);
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 75%, 100% 95%, 100% 60%;
    background-position: center center;
    border-top-left-radius: 120px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 70px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(45deg);
    z-index: 1;
}

.card-shop-title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
}

.card-shop-subtitle {
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color-sub);
}

.card-shop-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 50px;
}

.card-shop-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-shop-price {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
}

.card-shop-price span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-sub);
}

.card-shop-btn {
    height: 35px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s;
}

.card-shop-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
    transition: all 0.3s;
}

.card-shop-img:hover {
    transform: translateY(-3px);
}

.card-shop-btn:hover {
    border: 2px solid var(--main-focus);
}

.card-shop-btn:hover svg {
    fill: var(--main-focus);
}

.card-shop-btn:active {
    transform: translateY(3px);
}


/*  */



.container-confirmation {
    background-color: #ffffff;
    display: flex;
    width: 460px;
    height: 120px;
    position: relative;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.container-confirmation .left-side {
    background-color: #5de2a3;
    width: 130px;
    height: 120px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
    overflow: hidden;
}

.container-confirmation .right-side {
    /* width: calc(100% - 130px); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    /* margin-top: 20px; */
    /* overflow: hidden; */
    /* cursor: pointer; */
    /* justify-content: space-between; */
    /* white-space: nowrap; */
    /* transition: 0.3s; */
}

.container-confirmation .arrow {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.container-confirmation .new {
    font-size: 23px;
    font-family: "Lexend Deca", sans-serif;
    margin-left: 20px;
}

.container-confirmation .card {
    width: 70px;
    height: 46px;
    background-color: #c7ffbc;
    border-radius: 6px;
    position: absolute;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
    -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
    -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
}

.container-confirmation .card-line {
    width: 65px;
    height: 13px;
    background-color: #80ea69;
    border-radius: 2px;
    margin-top: 7px;
}

@media only screen and (max-width: 480px) {
    .container-confirmation {
        transform: scale(0.7);
    }

    .container-confirmation:hover {
        transform: scale(0.74);
    }

    .new {
        font-size: 18px;
        text-align: center;
    }
}

.container-confirmation .buttons {
    width: 8px;
    height: 8px;
    background-color: #379e1f;
    box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
    border-radius: 50%;
    margin-top: 5px;
    transform: rotate(90deg);
    margin: 10px 0 0 -30px;
}

.container-confirmation .card {
    animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.container-confirmation .post {
    width: 63px;
    height: 75px;
    background-color: #dddde0;
    position: absolute;
    z-index: 11;
    bottom: 10px;
    top: 120px;
    border-radius: 6px;
    overflow: hidden;
}

.container-confirmation .post-line {
    width: 47px;
    height: 9px;
    background-color: #545354;
    position: absolute;
    border-radius: 0px 0px 3px 3px;
    right: 8px;
    top: 8px;
}

.container-confirmation .post-line:before {
    content: "";
    position: absolute;
    width: 47px;
    height: 9px;
    background-color: #757375;
    top: -8px;
}

.container-confirmation .screen {
    width: 47px;
    height: 23px;
    background-color: #ffffff;
    position: absolute;
    top: 22px;
    right: 8px;
    border-radius: 3px;
}

.container-confirmation .numbers {
    width: 12px;
    height: 12px;
    background-color: #838183;
    box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 52px;
}

.container-confirmation .numbers-line2 {
    width: 12px;
    height: 12px;
    background-color: #aaa9ab;
    box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 68px;
}

.container-confirmation .dollar {
    position: absolute;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    width: 100%;
    left: 0;
    top: 0;
    color: #4b953b;
    text-align: center;
}

.animate-confirmation {
    transform: scale(1.03);
    width: 220px;
}

.animate-confirmation .left-side {
    width: 100%;
}

.animate-confirmation .card {
    animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.animate-confirmation .post {
    animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.animate-confirmation .dollar {
    animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-70px) rotate(90deg);
        transform: translateY(-70px) rotate(90deg);
    }

    60% {
        -webkit-transform: translateY(-70px) rotate(90deg);
        transform: translateY(-70px) rotate(90deg);
    }

    100% {
        -webkit-transform: translateY(-8px) rotate(90deg);
        transform: translateY(-8px) rotate(90deg);
    }
}

@keyframes slide-post {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}

@keyframes fade-in-fwd {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
